
#dnn_HeaderPane .app-cta3-wrapper > .row { margin-left: 0; margin-right: 0; }

.app-cta3-wrapper {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
    &.app-cta3-background-primary {
      background: rgba(#000, 1.0) url('../../Images/bg-hexagon-darkblue.png') center center repeat fixed;
    }
  
    &.app-cta3-background-lightgrey {
      background: rgba(228,224,218,.4) url('../../Images/bg-hexagon.png') center center repeat fixed;
    }
  
    .backgroundimage-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.3);
    }
  
    .app-cta3 {
      position: relative;
      padding-top: var(--bs-gutter-x, var(--bs-gutter-x-fallback-app-cta));
      padding-bottom: var(--bs-gutter-x, var(--bs-gutter-x-fallback-app-cta));

      &.app-cta3-text-image {
        padding-top: 0;
        padding-bottom: 0;
      }
  
      @include media-breakpoint-up(md) {
        padding-top: calc(var(--bs-gutter-x, var(--bs-gutter-x-fallback-app-cta)) * 2);
        padding-bottom: calc(var(--bs-gutter-x, var(--bs-gutter-x-fallback-app-cta)) * 2);
      }
      
      @include media-breakpoint-up(lg) {
          padding-top: calc(var(--bs-gutter-x, var(--bs-gutter-x-fallback-app-cta)) * 3);
          padding-bottom: calc(var(--bs-gutter-x, var(--bs-gutter-x-fallback-app-cta)) * 3);
      }
  
      h2 {
        margin-bottom: 16px;
      }
  
      .app-cta3-text {
        p {
          font-size: 20px;
          line-height: 29px;
          margin-bottom: 0;
  
          @include media-breakpoint-up(md) {
            font-size: 30px;
            line-height: 42px;
          }
          
        }
      }
  
      .app-cta3-text + .app-cta3-buttons {
        margin-top: 16px;
      }
  
      .app-cta3-buttons {
        .app-cta3-btn {
          font-size: 14px;
          line-height: 40px;
          font-weight: 700;
          text-transform: uppercase;
          height: 40px;
          padding: 0 16px;
          border-radius: 4px;
          color: var(--app-cta-text-bright);
          transition: all .2s ease;
  
          &:first-child {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.22);
          }
  
          @include media-breakpoint-up(md) {
            line-height: 50px;
            height: 50px;
            padding: 0 32px;
          }
          
          &:first-child {
            background-color: var(--bs-primary, var(--bs-btn-bg-fallback-app-cta));
            border-color: var(--bs-primary, var(--bs-btn-border-fallback-app-cta));
  
            &:hover {
              color: var(--bs-primary, var(--bs-btn-color-fallback-app-cta));
              background-color: var(--app-cta-text-bright);
              border-color: var(--app-cta-text-bright);
            }
          }
  
          &:not(:first-child) {
            color: var(--bs-secondary, var(--app-cta-btn-secondary-color));
            border-color: var(--bs-secondary, var(--app-cta-btn-secondary-border-color));
  
            &:hover {
              color: var(--app-cta-text-bright);
              background-color: var(--bs-secondary, var(--app-cta-btn-secondary-background-color));
              border-color: var(--bs-secondary, var(--app-cta-btn-secondary-border-color));
            }
          }
        }
      }
  
      &.text-bright {
        color: var(--app-cta-text-bright);
  
        h1, h2, h3, h4, h5, h6 {
          color: var(--app-cta-text-bright);
        }
  
        .app-cta3-buttons {
          .app-cta3-btn {
            &:not(:first-child) {
              border-color: var(--app-cta-text-bright);
              color: var(--app-cta-text-bright);
  
              &:hover {
                border-color: var(--bs-secondary, var(--app-cta-btn-secondary-border-color));
              }
            }
          }
        }
      }
  
      &.text-dark {
        color: var(--app-cta-text-dark);
        
        .app-cta3-buttons {
          .app-cta3-btn {
            &:first-child {
              color: var(--app-cta-text-bright);
  
              &:hover {
                color: var(--bs-primary, var(--bs-btn-color-fallback-app-cta));
              }
            }
  
            color: var(--app-cta-text-dark);            
          }
        }
      }
    }
  }